* {
    text-align: center;
    font-size: 110%;
    overflow-x: auto;
}
.full-width {
    width: 100%;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.wide-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*td {
    border: 2px solid;
}
th {
    border: 2px solid;
}*/